<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px" action="/register" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}"/>
        <span th:errors="*{username}" class="error"></span>
        <span th:text="${existerror}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" type="password" th:field="*{password}"/>
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label for="des-field">Verify Password</label>
        <input class="form-control" id="des-field" type="password" name="verify"/>
    </div>
    <input type="submit" value="Create User"/>
</form>
</body>
</html>