<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <form name="f" th:action="@{/login}" method="post" class="form-signin">
        <fieldset>
            <legend class="form-signin-heading">Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control"/>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
            </p>
            <div class="form-actions">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>